<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Apartments</title>
</head>
<body>
  <nav class="navbar"> 
    <input type="checkbox" name="check_m" id="check">
    <label class="open-menu" for="check"></label>      
    <div><a href="/view/index.html" class="nav-logo">
        <img class="logo" src="/images/logo_welcome_home_edited.png" alt="logo">
    </a></div>
    <div class="menu">
        <ul class="nav-links">
            <li><a href="/view/index.html" class="nav-link"> Home </a></li>
            <li><a href="/view/About_Us.html" class="nav-link"> About Us </a></li>
            <li><a href="/view/Properties.html" class="nav-link"> Properties </a></li>
            <li><a href="/view/Contact_Us.html" class="nav-link"> Contact Us </a></li>
            
        </ul>
    </div>
      
</nav>
    <h1 class="ptoperties_h11">apartments</h1>
    <main class="page_p">
        <section  class="House-container">
          <div class="House-list">
              <a class="House" href="/view/Apartmente_single/Apartment_1.html">
                <img class="img house-img" src="/images/apartment/2/1.jpg" alt="logo">
                  <h5>Los Angeles, CA</h5>
                  <p >6 bed room | 4.5 bath | 1994 sqrft | price: 2830$</p>
              </a>
              <a class="House" href="/view/Apartmente_single/Apartment_2.html">
                  <img class="img house-img" src="/images/apartment/2/1.jpg" alt="logo">
                    <h5>Los Angeles, CA</h5>
                    <p >6 bed room | 4.5 bath | 1994 sqrft | price: 2830$</p>
              </a>
                <a class="House" href="/view/Apartmente_single/Apartment_3.html">
                  <img class="img house-img" src="/images/apartment/3/1.jpg" alt="logo">
                    <h5>San Diego, CA</h5>
                    <p>7 bed room | 3.5 bath | 1900 sqrft | price: 4830$</p>
                </a>
                <a class="House" href="/view/Apartmente_single/Apartment_4.html">
                  <img class="img house-img" src="/images/apartment/4/1.jpg" alt="logo">
                    <h5>Malibu, CA</h5>
                    <p>7 bed room | 3.5 bath | 280 sqrft | price: 3830$</p>
                </a>
                <a class="House" href="/view/Apartmente_single/Apartment_5.html">
                  <img class="img house-img" src="/images/apartment/5/1.jpg" alt="logo">
                    <h5>Hollywood, CA</h5>
                    <p>6 bed room | 5.5 bath | 2000 sqrft | price: 2830$</p>
                </a>
                <a class="House" href="/view/Apartmente_single/Apartment_6.html">
                  <img class="img house-img" src="/images/apartment/6/1.jpg" alt="logo">
                    <h5>Sacramento, CA</h2>
                    <p>6 bed room | 3.5 bath | 1844 sqrft | price: 2530$</p>
                </a>
                <a class="House" href="#">
                  <img class="img house-img" src="/images/apartment/6/1.jpg" alt="logo">
                    <h5>Sacramento, CA</h5>
                    <p>6 bed room | 3.5 bath | 1844 sqrft | price: 2530$</p>
                </a>
                <a class="House" href="#">
                  <img class="img house-img" src="/images/apartment/6/1.jpg" alt="logo">
                    <h5>Sacramento, CA</h5>
                    <p>6 bed room | 3.5 bath | 1844 sqrft | price: 2530$</p>
                </a>
        </div>
     </section>
   </main>
   
</body>
</html>