<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">  
        <input type="checkbox" name="check_m" id="check">
        <label class="open-menu" for="check"></label>
        <div><a href="/view/index.html" class="nav-logo">
            <img class="logo" src="/images/logo_welcome_home_edited.png" alt="logo">
        </a></div>
        <div class="menu">
            <ul class="nav-links">

                <li><a href="/view/index.html" class="nav-link a"> Home </a></li>
                <li><a href="/view/About_Us.html" class="nav-link"> About Us </a></li>
                <li><a href="/view/Properties.html" class="nav-link"> Properties </a></li>
                <li><a href="/view/Contact_Us.html" class="nav-link"> Contact Us </a></li>
                
            </ul>
        </div>
            
    </nav>
<main class="contact_1">  
<section class="contactMain">
    <h1 id="contact_h1">Help Center Frequently Asked Questions</h1>   
<img id="imag-contact" src="/images/contct_us.png" alt="">


</section>
<section class="contactQustion">
<h2 id="contact_h2">Top FAQs for renters</h2>
<ul class="Contact_Us_q">
    <li>
        <input type="checkbox" name="Contact_Us_q" id="first">
        <label class="label-qe" for="first">What are the lease terms and conditions?</label>
        <div class="content_qu">
            <p>
                Before committing to a rental, ensure 
                you fully understand the lease terms 
                and conditions. Ask about the duration 
                of the lease, rent amount, security 
                deposit, pet policies, and any other 
                rules or restrictions. Be clear on what 
                utilities are included and which ones 
                you are responsible for.
            </p>
        </div>
        
    </li>
    <li>
        <input type="checkbox" name="Contact_Us_q" id="second">
        <label class="label-qe" for="second">How do I apply to rentals?</label>
        <div class="content_qu">
            <p>
                The application process may vary, but 
                generally, you'll need to fill out an 
                application form provided by the landlord 
                or property management. This form may include 
                personal and financial information, rental 
                history, and references. Be prepared to 
                provide proof of income and undergo a 
                background check.
            </p>
        </div>
    </li>
    
    <li>
        <input type="checkbox" name="Contact_Us_q" id="third">
        <label class="label-qe"  for="third">Will you help me find a new</label>
        <div class="content_qu">
            <p>
                While I can provide information and tips 
                on the rental process, I'm not a dedicated 
                apartment-finding service. Consider using 
                real estate websites, apps, or local real 
                estate agents to help you find suitable rental 
                properties in your desired location.
            </p>
        </div>
    </li>
    <li>
        <input  type="checkbox" name="Contact_Us_q" id="fourth">
        <label class="label-qe" for="fourth">How do I avoid a scam?</label>
        <div class="content_qu">
            <p>
                To avoid rental scams, be cautious 
                of deals that seem too good to be true, 
                always visit the property before making 
                any payments, and be wary of landlords asking 
                for wire transfers or cash. Use reputable rental 
                platforms, and never provide personal or financial 
                information unless you are certain of the legitimacy
                 of the listing.
            </p>
        </div>
    </li>
    <li>
        <input  type="checkbox" name="Contact_Us_q" id="fifth">
        <label class="label-qe" for="fifth">A property manager is not responding…</label>
        <div class="content_qu">
            <p>If a property manager is not responding, try 
                reaching out through multiple channels such 
                as phone, email, and any other provided 
                contact information. If all else fails, 
                consider contacting the property owner 
                directly if possible. Document all your
                 attempts to communicate. If the issue 
                 persists, you may need to explore legal 
                 options or seek advice from a tenant's 
                 rights organization depending on your location.</p>
        </div>
       
    </li>
</ul>
</section>
<section class="contactUsMessag">
<h2 id="contact_h3">Can’t Find What You’re Looking For?</h2>
<p class="contact_p">Fill out the form below and we will get in touch with you as soon as possible.</p>
<div class="box">
    <div class=" contact form">
        <h3>Send a Message</h3>
        <form action="">
            <div class="formBox">
              <div class="row50">
               <div class="inputBox">
                <span>First Name</span>
                <input type="text" placeholder="David">
               </div>
               <div class="inputBox">
                <span>Last Name</span>
                <input type="text" placeholder="Cohen">
               </div>
              </div>
        <div class="row50"> 
            <div class="inputBox">
                <span>Email</span>
                <input type="text" placeholder="example@gmail.com">
            </div>
            <div class="inputBox">
                <span>Mobile</span>
                <input type="text" placeholder="+972 50 938 2348">
            </div>
        </div>
        <div class="row100"> 
            <div class="inputBox">
                <span>Message</span>
                <textarea placeholder="Write your Message here..."></textarea>
            </div>
        </div>
        <div class="row100"> 
            <div class="inputBox">
               <input type="submit" value="send">
            </div>
        </div>
    </div>
    
        </form>
    </div>
    <div class=" contact info">
        <h3>Contact Info</h3>
        <div class="infoBox">
            <div>
                <span><i class="fa fa-map-marker" style="font-size:24px"></i></span>
                <p>Cannaught Place, Tel Aviv <br>ISRAEL</p>
            </div>
            <div>
                <span><i class="fa fa-envelope" style="font-size:24px"></i></span>
                <a href="mailto:welcomeHome@gmail.com">welcomeHome@gmail.com</a>
            </div>
            <div>
                <span><i class="fa fa-phone" style="font-size:24px"></i></span>
                <a href="tel: +972372876503">+972 37 287 6503 </a>
            </div>
            <!---sosial madia-->
            <ul class="sci">
                <li><a href="https://www.instagram.com/theoppenheimgroup/"><i class="fa fa-instagram" style="font-size:34px"></i></a></li>
                <li><a href="https://www.facebook.com/theoppenheimgroup/"><i class="fa fa-facebook-square" style="font-size:34px"></i></a></li>
                <li><a href=""><i class="fa fa-twitter-square" style="font-size:34px"></i></a></li>
            </ul>
            

        </div>

    </div>
    <div class=" contact map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d108169.74968908774!2d34.879648278111596!3d32.0880502768199!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d4ca6193b7c1f%3A0xc1fb72a2c0963f90!2z16rXnCDXkNeR15nXkS3Xmdek15U!5e0!3m2!1siw!2sil!4v1705170716577!5m2!1siw!2sil" 
         style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>

</div>
</section>
</main>
</body>
</html>