<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Style/style.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
         
        <input type="checkbox" name="check_m" id="check">
        <label class="open-menu" for="check"></label>      
        <div><a href="/view/index.html" class="nav-logo">
            <img class="logo" src="/images/logo_welcome_home_edited.png" alt="logo">
        </a></div>
        <div class="menu">
            <ul class="nav-links">
                <li><a href="/view/index.html" class="nav-link"> Home </a></li>
                <li><a href="/view/About_Us.html" class="nav-link"> About Us </a></li>
                <li><a href="/view/Properties.html" class="nav-link"> Properties </a></li>
                <li><a href="/view/Contact_Us.html" class="nav-link"> Contact Us </a></li>  
            </ul>
        </div>
    </nav>
    <div id="content">
        <div id="container">  
            <h1>Looking For Rent To Own Homes: <br> What To Be On The Lookout For</h1>
             <p>Find hundreds of thousands of properties for and rent.New homes listed daily. <p>
         </div>
        <div class="box-ta">
            <table class="serch-e">
                <tr>
                    <td>
                        <input type="text" id="search-box" placeholder="Address,City or Neighborder">
                    </td>
                    <td>
                        
                        <span class="icon-search"><i class="fa fa-search" style="font-size:24px"></i></span>
                    
                    </td>
                    </td>
                </tr>
            </table>    
        </div>
    </div>

    
</body>
</html>