<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Private Homes</title>
    <link rel="stylesheet" href="/Style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar"> 
        <input type="checkbox" name="check_m" id="check">
        <label class="open-menu" for="check"></label>      
        <div><a href="/view/index.html" class="nav-logo">
            <img class="logo" src="/images/logo_welcome_home_edited.png" alt="logo">
        </a></div>
        <div class="menu">
            <ul class="nav-links">
                <li><a href="/view/index.html" class="nav-link"> Home </a></li>
                <li><a href="/view/About_Us.html" class="nav-link"> About Us </a></li>
                <li><a href="/view/Properties.html" class="nav-link"> Properties </a></li>
                <li><a href="/view/Contact_Us.html" class="nav-link"> Contact Us </a></li>
                
            </ul>
        </div>
           
    </nav>
    <h1 class="ptoperties_h11">Private Homes</h1>
    <main class="page_p">
        <section  class="House-container">
            <div class="House-list">
                <a href="/view/private_singel_homes/private_Home_1.html"  class="House">
                    <!--house 1 -->
                    <img src="/images/private Homes/private 1/the house from the ouside.webp"class="img house-img" alt="" />
                     <h5> Los Angeles Street 4580</h5>
                     <p>3 bed room | 2.5 bath | 1844 sqrft | price: 2830$ </p>
                </a>
                <!--house 2-->
                <a href="/view/private_singel_homes/private_Home_2.html"  class="House">
                    <img src="/images/private Homes/private 2/outside home.webp"class="img house-img" alt="" />
                    <h5> 4450 Estate Dr, Grand Prairie, TX 75052</h5>
                    <p>3 bed room | 2.5 bath | 1645 sqrft | price: 2400$ </p>
                </a>
                 <!--house 3-->
                 <a href="/view/private_singel_homes/private_Home_3.html"  class="House">
                    <img src="/images/private Homes/private home 3/outside house.webp"class="img house-img" alt="" />
                    <h5> 3950 Dechman, Grand Prairie, TX 75052</h5>
                    <p>2 bed room | 2 bath | 1030 sqrft | price: 2299$ </p>
                 </a>
                  <!--house 4-->
                <a href="/view/private_singel_homes/private_Home_4.html"  class="House">
                  <img src="/images/private Homes/private home 4/outside.webp"class="img house-img" alt="" />
                  <h5> 1822 Acosta St, Grand Prairie, TX 75051</h5>
                  <p>3 bed room | 2.5 bath | 1842 sqrft | price: 2345$ </p>
                </a>
                   <!--house 5-->
                <a href="/view/private_singel_homes/private_Home_5.html" class="House">
                   <img src="/images/private Homes/private 5/outside.webp"class="img house-img" alt="" />
                   <h5> Los Angeles Street 4580</h5>
                   <p>3 bed room | 2 bath | 1844 sqrft | price: 2830$ </p>
                </a>
                    <!--house 6-->
                <a href="/view/private_singel_homes/private_Home_6.html" class="House">
                    <img src="/images/private Homes/private 6/outside.webp"class="img house-img" alt="" />
                    <h5> 1043 Castille Dr, Grand Prairie, TX 75051</h5>
                    <p>3 bed room | 2 bath | 1422 sqrft | price: 2150$ </p>
                </a>
                <!--house 7-->
                <a href="#" class="House">
                    <img src="/images/private Homes/streetview7.jpeg"class="img house-img" alt="" />
                    <h5> 3133 Walingford Dr, Grand Prairie, TX 75052</h5>
                    <p>3 bed room | 2 bath | 1586 sqrft | price: 2075$ </p>
                </a>
                <!--house 8-->
                <a href="#" class="House">
                    <img src="/images/private Homes/8.webp"class="img house-img" alt="" />
                    <h5> 3622 Green Hollow Dr, Grand Prairie, TX 75052</h5>
                    <p>4 bed room | 3.5 bath | 3495 sqrft | price: 2150$ </p>
                </a>
            </div>
        </section>>

    </main>
    


</body>
</html>