<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Style/style.css">
    <title>Properties</title> 
  
</head>
<body  >
    <nav class="navbar">  
        <input type="checkbox" name="check_m" id="check">
        <label class="open-menu" for="check"></label>     
        <div><a href="/view/index.html" class="nav-logo">
            <img class="logo" src="/images/logo_welcome_home_edited.png" alt="logo">
        </a></div>
        <div class="menu">
            <ul class="nav-links">
                <li><a href="/view/index.html" class="nav-link"> Home </a></li>
                <li><a href="/view/About_Us.html" class="nav-link"> About Us </a></li>
                <li><a href="/view/Properties.html" class="nav-link"> Properties </a></li>
                <li><a href="/view/Contact_Us.html" class="nav-link"> Contact Us </a></li>
                
            </ul>
        </div>
            
    </nav>
    <main class="property-page">
    <div class="title-property">
        <h1 class="ptoperties_h1">RECENT OPTIONS</h1>
    </div>
    <div class="content_property">
        
    <div class="home_p">
    <a href="/view/private_homes.html"><img class="home_picture" src="/images/properties1.png" alt="logo"></a>
    <h2 class="properties_h2">PRIVATE HOME’S</h2>
    <p class="properties_p">Private houses offer a
        personalized living
        experience, providing
        autonomy and privacy not
        found in apartments.</p>
    </div>
    <div class="home_p">
    <a href="/view/penthouses.html"><img class="home_picture" src="/images/properties3.png" alt="logo"></a>
    <h2 class="properties_h2">penthouse</h2>
    <p class="properties_p">Penthouse offers a unique
        combination of luxury,
        exclusivity and breathtaking
        views. Suitable for those
        who want a high level
        lifestyle and privacy</p></div>
    <div class="home_p">
    <a href="/view/Apartments.html"><img class="home_picture" src="/images/properties2.png" alt="logo"></a>
    <h2 class="properties_h2">RESIDENTIAL APARTMENTS</h2>
    <p class="properties_p">Elevate your living
        experience with residential
        apartments. Enjoy the
        convenience of shared
        amenities, security, and
        low-maintenance living.
        </p></div>
    </div>
</main>
</body>
</html>
